
h1 {
    color: darkblue;
    font-size: 24px;
    line-height: 1.4em;
}
h2 {
    font-size: 22px;
    line-height: 1.4em;
}
h3 {
    font-size: 20px;
    line-height: 1.4em;
}
h4, h5, h6 {
    font-size: 18px;
    line-height: 1.4em;
}
body {
    font-family: "Aril", sans-serif;
    font-size: 16px;
    line-height: 1.2em;
    color: #333333;

}
a {
    color: black;
}
a:link {
    color: #000000
}
a:visited {

}
a:focus {

}
a:hover {
    color: #00008b;
    text-decoration: none;
}
a:active {

}
